.recverPass
{
        /* Recover password body style. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.recoverPasswordMainCont
{
        /* Recover password frame style */
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    border: white solid 3px;
    gap: 10px;

        /* Glassy style of the Sign Up frame. */
        /* The code for background-color: #0039a6; */
    background: rgba(0, 57, 166, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}

@media only screen and (max-width: 1100px) {
        /* Responsiveness for login and sign up frame. */
    .recoverPasswordMainCont{
        margin: auto;
        height: auto;
        width: 80%;
        border-radius: 7%;
    }
}

@media screen and (max-width: 768px) {
        /* Responsiveness for login and sign up frame. */
    .recoverPasswordMainCont{
        margin: auto;
        height: auto;
        width: 90%;
        border-radius: 7%;
    }
}

@media screen and (max-width: 480px) {
    /* Responsiveness for login and sign up frame. */
    .recoverPasswordMainCont{
        margin: auto;
        height: auto;
        width: 90%;
        border-radius: 7%;
    }
}

.recoverPasswordMainCont  > p
{
        /* Recover password title text. */
    font-size: 19px;
    margin: auto;
    padding: 15px;
}


.recoverPasswordCont > Form
{
        /* Recover password style. */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: center;
    align-content: stretch;
    align-items: center;
    padding: 12px;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    /* Responsiveness for login and sign up frame. */
    .recoverPasswordCont > Form{
        margin: auto;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    /* Responsiveness for login and sign up frame. */
    .recoverPasswordCont > Form{
        margin: auto;
        width: auto;
    }
}


.recoverPasswordCont > Form > input
{
        /* Form input field design. */
    font-size: 20px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 12px;
    padding: 12px;
    margin: auto;
    width: auto;
}


#recoverPasswordBtn
{
        /* Recover password button style. */
    color: white;
    background-color: black;
    width: 80% !important;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    border-radius: 12px;
    margin: 5px;
}


#recoverPasswordBtn:hover
{
    /* Recover password button hover style. */
    color: black;
    background-color: white;
    cursor: pointer;
}